---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: student-db-pvc
  namespace: {{ .Values.namespaces.studentApi }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.studentDb.pvc.storage }}
